## Mini Assignment 1

#### 1. Print your full name

In [8]:
print("Aayush Neupane")

Aayush Neupane

####  2. Print your fav quote

In [9]:
print("Go with the flow but dont be a dead fish")

Go with the flow but dont be a dead fish

#### 3. Print a sentence in a multiple line using \n

In [10]:
print("This is example of \n of breaking sentence")

This is example of
 of breaking sentence

### Mini Assignment 2

In [12]:
name="Aayush Neupane"
age=20 
country="Nepal"

In [13]:
print(f" My name is {name} and my age is {age} \n I live in country {country}")

 My name is Aayush Neupane and my age is 20
 I live in country Nepal

In [15]:
print(type(name))

<class 'str'>

In [16]:
print(type(age))

<class 'int'>

In [18]:
print(type(country))

<class 'str'>

### Assignment to be done in copy.  Explain different  operator and example of each 

airthmentic, comparison, logical, assignment , memebership, identity 

like 3<=4

### Describe the process of  inoput and output in python

In [3]:
a=5
print("hello",a,"goodmorning")

hello 5 goodmorning

In [5]:
list1=[2,3,4,5]
list3=list1
list2=[2,3,4,5]
print(list3 is list1)
print(list1 is list2)

True
False

## Mini assignment 3

In [9]:
a=float(input("Enter the number:"))
b=int(input("Enter the number:"))
print("Addition",a+b)
print("Subtraction",a-b)
print("Multiplication",a*b)

Enter the number: 3.4
Enter the number: 3

Addition 6.4
Subtraction 0.3999999999999999
Multiplication 10.2

In [6]:
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))

if a%b==0:
    print("The number is perfectly divisble")
else:
    print("Not")

Enter the number: 4
Enter the number: 2

The number is divisble

In [7]:
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))

if a%2==0 and b%2==0:
    print("Both number is even")
elif a%2!=0 and b%2==0:
    print("Number 1 is Odd and Number 2 is even")
elif a%2==0 and b%2!=0:
    print("Number 1 is even and 2 is odd")
else:
    print("Both numbers are odd")

Enter the number: 2
Enter the number: 3

Number 1 is even and 2 is odd

## miniassigment 5

In [10]:
#checking the number is positive , gnegative or zero

a=int(input("Enter the number:"))

if a<0:
    print("Negative")
elif a>0:
    print("Positive")
else:
    print("Zero")

Enter the number: 2

Positive

In [13]:
#checking the grades after marks

a=int(input("Enter the amrks"))

if a>=90:
    print("A")
elif a<=80 and a>=75:
    print("B")
elif a<=75 and a>=65:
    print("C")
else:
    print("Fail")

Enter the amrks 70

C

In [22]:
#checkin gif the number is odd or even

a=int(input("Enter the number"))

if a%2==0:
      print("The number is even")

else:
      print("The number is odd")

Enter the number 4

The number is even

### Python Switch and nested condition

In [14]:
day = input("Day:")

match day:
    case "Sunday":
        print(f"welcome {day}")
    case "Monday":
        print(f"welcome {day}")
    case _:
        print("Enter valid day")

Day: 1232

Enter valid day

In [13]:
age=10
if (age)>=19:
    print("welcome")
else:
    print("False")

False

In [27]:
age=18
print(type(age))
# print(len(age))

<class 'int'>

In [25]:
for i in range(1,5):
    print(i)

1
2
3
4

In [24]:
name="aayush"
print(len(name))

6

In [26]:
age=[1,2,3,4]
print(max(age))

4

In [32]:
class1={
    'name',
    1,
    9.8,
    'list1=[1,2,3]'
    
}
for i in class1:
    print(f"Data type: {type(i)}")

Data type: <class 'int'>
Data type: <class 'str'>
Data type: <class 'str'>
Data type: <class 'float'>

### Assignment

In [3]:
#take 3 number and ask for the largest number 

num1=int(input())
num2=int(input())
num3=int(input())

def large(num1,num2,num3):
    if num1>num2 and num1>num3:
        print(f"{num1} is the largest")
    elif num2>num3:
        print(f"{num2} is the largest")
    else:
        print(f"{num3} is the largest")
    

large(num1,num2,num3)

 5
 5
 6

6 is the largest

In [7]:
#multiplication of number and highlighting the multiple of 5 

n=int(input("Enter an integer:\n"))

def mul(n):
    for i in range(1,11):
        r=i*n
        print(f"{n}*{i}={r}")

        if r%5==0:
            print("This result is multiple of 5")
        
mul(n)

Enter an integer:
 3

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
This result is multiple of 5
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
This result is multiple of 5

In [ ]:
# rolling dice 10 timnes and couting 6 

import random as r

def count_dice():